body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #3498db, #2ecc71);
}

.container {
    width: 420px;
    margin: 60px auto;
    background: rgb(194, 179, 157);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

h1 {
    text-align: center;
    color: rgb(245, 97, 4);   
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 30px;
    background: #27aea5;
    color: rgb(138, 78, 128);        
    border: 10px solid #27aea5;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    background: #21917e;
    border-radius: 50px;
}

.result {
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #1f201c;
}

.footer {
    text-align: center;
    margin-top: 50px;
    color: rgb(87, 19, 213);
}
